@use "./base.scss";

@font-face {font-family:'Merriweather'; src:url('/static/fonts/Merriweather.woff2') format('woff2')}
@font-face {font-family:'Open Sans'; src:url('/static/fonts/OpenSans.woff2') format('woff2')}
@font-face {font-family:'Krypton'; src:url('/static/fonts/Krypton.woff2') format('woff2')}

body {font-family:"Open Sans", sans-serif; line-height:1.65}
h1, h2, h3, h4, h5, h6 {font-family:"Merriweather", serif; font-weight:700}
code, pre {font-family:"Krypton", monospace !important}
article {max-width:75ch; margin:0 auto 0 0}
.tags {flex-wrap:nowrap !important;gap:0.4rem;margin:1rem 0;padding-left:0;list-style:none;display:flex}
